
<div>
    <h2>{{ title }}</h2>
    <hr>
<form action="/newProduct" method="post">
    <div class="row">

<div class="form-group col-md-3">
    Title
    <input type="text" class="form-control" name="name">
</div>
        <div class="form-group col-md-3">
            Category
            <select name="category" class="form-control">
                <option>select category</option>
                <option>Men</option>
                <option>Women</option>
                <option>Kids</option>
            </select>
        </div>

        <div class="form-group col-md-3">
            Color
            <select name="color" class="form-control">
                <option>select color</option>
                <option>Black</option>
                <option>Blue</option>
                <option>Brown</option>
            </select>
        </div>
        <div class="form-group col-md-3">
            Price
            <input type="number" class="form-control" name="name">
        </div>
    </div>

    <hr>
    <div class="row">
        <div class="form-group col-md-3">
            Quantity
            <input type="number" class="form-control" name="quantity">
        </div>

        <div class="form-group">
            <div class="col-md-3">
            Product photo
            <input type="file" class="form-control" name="file">
                </div>

        </div>

        <div class="col-md-2">
        <input type="submit" class="btn btn-danger" value="submit" name="submit">
    </div>
        </div>

</form>
    </div>